/*
    Style sheet for login.php  
                    register.php

*/

/* register.php*/

.register-form{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 10px;
    width: 35%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
}

.register-form-element1,
.register-form-element2,
.register-form-element3,
.register-form-element4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.register-form-element4{
    padding: 20px;
}


/* login.php */

.login-form{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 10px;
    width: 35%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
}

.login-form-element1,
.login-form-element2,
.login-form-element3,
.login-form-element4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.login-form-element4{
    padding: 20px;
}

.login-form-element-error{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
