/* Style sheet for persos_show.php
                    persos_edit.php

*/
/* persos_show.php */


.perso-details{
    border: 2px solid grey;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    width: 40%;
    padding: 20px;
}

.perso-details h1{
    display: flex;
    justify-content: center;
}


/* persos_edit.php*/

.edit-form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    justify-content: center;
    border: 2px solid grey;
}

.edit-form h1{
    display: flex;
    justify-content: center;
}

.edit-form-element1{
    display: flex;
    justify-content: center;
}

.edit-form-element2{
    display: flex;
    justify-content: center;
}

.name-change{
    width: 50%;
    margin-left: 4px;
}

.mt-4 .btn-green{
    width:71.92px;
    height: 45px;
    margin-bottom: 7px;
    margin-top: -2px;
}